Question 1: Are the rules for naming variables followed

price

1price

_price

Price

Answer 1:

Cannot be a `protected` word or start with a `number`

In [1]:
# Variable naming examples
price = 10
# 1price = 20  # Invalid variable name, cannot start with a number
_price = 30
Price = 40

print(price)
print(_price)
print(Price)

10
30
40

Question 2: Are the rules for naming variables followed

_age

age_

age_*

+age

`+age` does not follow the rules as it starts with a plus sign, which is not allowed in variable names.

Question 3 : variable and Variable are different?

variable = 3

Variable = 4

In [6]:
variable = 3
Variable = 4

print(variable)
print(Variable)
print(f"{variable == Variable}")

3
4
False

Question 4: Student 1 tells to student 2 that arithmetic operators can be used in python while student 2 disagrees. Can you help student 1  
 with a python code to add 4 string variables in python.

In [ ]:
var1 = "Hello"
var2 = " "
var3 = "world"
var4 = "!"

result = var1 + var2 + var3 + var4
print(result)

Question 5: Can you help Jack run the below code

variable1 = 3


9variable2 = 5

  
variable3 = variable1 + variable2
  

print(variable3)

In [7]:
variable1 = 3
variable2 = 5
variable3 = variable1 + variable2
print(variable3)

8

 Question 6: Student 1 is not able run below code to assign a value to a. Please help him.

 print("Add and Assign:",a += b)

In [41]:
a = 0
b = 5
a += b
print(f"Add and Assign: {a}")

Add and Assign: 5

Question 7: Sam has 100 oranges in his garden while Jack has 100 apples. If 1 orange is 10 euros and 1 apple is 20 euros. Can you write a python code to help Sam and Jack understand the value of 100 oranges and apples each.

In [39]:
# Define the prices per fruit
orange_price = 10
apple_price = 20

# Calculate the total value for Sam and Jack
sam_value = 100 * orange_price
jack_value = 100 * apple_price

# Print the values
print(f"Sam's oranges value: {sam_value} euros")
print(f"Jack's apples value: {jack_value} euros")

Sam's oranges value: 1000 euros
Jack's apples value: 2000 euros

Question 8: Write a python code to generate the below output

0

5

10

15

20

25

30

35

40

In [8]:
for i in range(9):
    print(i * 5)

0
5
10
15
20
25
30
35
40

Question 9: Complete the code below to get the output mentioned

for x in range(9):
print(5+7*)

5

12

19

26

33

40

47

54

61

In [9]:
for x in range(9):
    print(5 + 7 * x)

5
12
19
26
33
40
47
54
61

Question 10: Create a list of fruits with 9 elements and print it

In [31]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'kiwi']
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'kiwi']

Question 11 :  Slice from 1st element to the 4th. Print only the first 4 elements in the above list.

In [32]:
sliced_fruits = fruits[:4]
print(sliced_fruits)

['apple', 'banana', 'cherry', 'date']

Question 12 : Create a list named 'list_nums' of numbers  (3,4,7,23,1,4,23,90,0,5)

In [10]:
list_nums = [3, 4, 7, 23, 1, 4, 23, 90, 0, 5]

Question 14 : Iterate through each element in the above list using a for loop and add one to each element in the list and print the list

In [11]:
for i in range(len(list_nums)):
    list_nums[i] += 1

print(list_nums)

[4, 5, 8, 24, 2, 5, 24, 91, 1, 6]

Question 15: Create an empty list named motorcycles

In [12]:
motorcycles = []

Question 16: Add elements to the empty list created above,atleast 3 motorcycles

In [13]:
motorcycles.append("Honda")
motorcycles.append("Yamaha")
motorcycles.append("Suzuki")

Question 17: Remove two motorcycles from the list above by value

In [14]:
motorcycles.remove("Honda")
motorcycles.remove("Yamaha")

Question 18: Create a dictionary for four countries. With the country as the key and their capital as the value and print the dictionary

In [35]:
countries = {
    'USA': 'Washington D.C.',
    'France': 'Paris',
    'India': 'New Delhi',
    'Australia': 'Canberra'
}

print(countries)

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi', 'Australia': 'Canberra'}

Question 19 : Print the length of the above created dictionary

In [36]:
len(countries)

4

*Question* 20 : Remove a country and its capital (key-value pair) from the dictionary created and print the dictionay minus that value

In [37]:
del countries['France']
print(countries)

{'USA': 'Washington D.C.', 'India': 'New Delhi', 'Australia': 'Canberra'}

Question 21 : Create an empty dictionary

In [38]:
capitals = {}

Question 22: Add the two key-vale pair mentioned below into the above created empty dictionary and print the dictionary
1. 'Denmark' - 'Copenhagen'
2. 'Finland' - 'Helsinki

In [22]:
capitals.update({'Denmark': 'Copenhagen', 'Finland': 'Helsinki'})
print(capitals)

{'Denmark': 'Copenhagen', 'Finland': 'Helsinki'}

Question 23 : Modify the value of Finland from Helsinki to Rome and print the dictionary

In [25]:
capitals["Finland"] = "Rome"
print(capitals)

{'Denmark': 'Copenhagen', 'Finland': 'Rome'}

Question 24 : Create a dictionary to store username and password

In [27]:
credentials = {
    'user1': 'hunter2',
    'user2': 'password2',
    'user3': 'password3'
}

Question 25 : Create a Tuple wiht values 1,10 and 30

In [29]:
my_tuple = (1, 10, 30)

Question 26 : Print the first value in the above created tuple

In [30]:
print(my_tuple[0]);

1

Question 27 : Will this work 'my_tuple[1] = 3' to the above tuple? Give reason

Nope...

Touples are immutable