Question 1 : Create a string named str_var and assign the value 'ML is awesome' to the variable and print the variable

In [4]:
str_var = 'ML is awesome'
print(str_var)

ML is awesome

Question 2 : Print the second last element of the above created variable

In [3]:
print(str_var[-2])

m

Question 3 : Perform #Addition operations on strings mentioned below and print them with and without space
a = "tom"
b = "haverford"`

In [5]:
a = "tom"
b = "haverford"

# With space
result_with_space = a + " " + b
print(result_with_space)

# Without space
result_without_space = a + b
print(result_without_space)

tom haverford
tomhaverford

**Question 4**: Write code to ask the user to enter 3 numbers (a,b,c) and then these values are passed on to a function called **find_largest(a,b,c)** which does some comparison operations (using python comparison operators) between these three numbers and print the result

In [6]:
def find_largest(a, b, c):
    if a > b and a > c:
        largest = a
    elif b > a and b > c:
        largest = b
    else:
        largest = c
    print("The largest number is:", largest)

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

find_largest(a, b, c)

The largest number is: 4

Question 5 : Create a class named car to store the information model,manufactures and year

In [ ]:
# Class
class Car:
    def __init__(self, model, manufacturer, year):
        self.model = model
        self.manufacturer = manufacturer
        self.year = year

In [ ]:
# Pydantic

from pydantic import BaseModel

class Car(BaseModel):
    model: str
    manufacturer: str
    year: int

In [7]:
# DataClass

from dataclasses import dataclass

@dataclass
class Car:
    model: str
    manufacturer: str
    year: int

Question 6 : Create an object of the class and print informations mentioned in the above question

In [9]:
# Create an object of the Car class
car_obj = Car("Tesla", "Tesla Motors", 2022)

# Print the information
print(f"Model: {car_obj.model}\nManufacturer: {car_obj.manufacturer}\nYear: {car_obj.year}")

Model: Tesla
Manufacturer: Tesla Motors
Year: 2022

**Question 7**: Write a python class called "Employee" with four attributes - name, base_salary, bonus, travel_allowance, with a parameterized constructor to initialize these values and another function called print_total_salary which just adds up the base_salary with bonus and travel_allowance and prints it.

After you define this class, create two or three objects of this class type, say emp1, emp2 and emp3 like this -

```
emp1 = Employee("Tom",1000,300,100)
emp2 = Employee("Dick",2000,600,100)
emp3 = Employee("Harry",500,100,50)
```

And then print the total salaries by accessing the print_total_salary method -

```
emp1.print_total_salary()
emp2.print_total_salary()
emp3.print_total_salary()
```

In [10]:
class Employee:
    def __init__(self, name, base_salary, bonus, travel_allowance):
        self.name = name
        self.base_salary = base_salary
        self.bonus = bonus
        self.travel_allowance = travel_allowance
    
    def print_total_salary(self):
        total_salary = self.base_salary + self.bonus + self.travel_allowance
        print(f"The total salary for {self.name} is: {total_salary}")

emp1 = Employee("Tom", 1000, 300, 100)
emp2 = Employee("Dick", 2000, 600, 100)
emp3 = Employee("Harry", 500, 100, 50)

Question 8: Create a One-dimensional array of size 9 with a range of 15 random elements. Create a Two-dimensional array with 3 rows and 4 columns inside the range of 15 random elements. Create a Three-dimensional array of 3 arrays with 4 rows and 5 columns with a range of 15 random elements.

In [11]:
import numpy as np

# One-dimensional array
one_dim_array = np.random.randint(15, size=9)

# Two-dimensional array
two_dim_array = np.random.randint(15, size=(3, 4))

# Three-dimensional array
three_dim_array = np.random.randint(15, size=(3, 4, 5))

Question 9 : Write a code to print the values stored in an integer list but use excemption handling in case the user tries to print a value from a position in the list that does not have a value

In [13]:
integer_list = [1, 2, 3, 4, 5]

try:
    index = int(input("Enter the index to print the value from the list: "))
    value = integer_list[index]
    print("Value at index", index, "is:", value)
except IndexError:
    print("Invalid index. The list does not have a value at that position.")

Invalid index. The list does not have a value at that position.